
  html, body {
    height: 100%;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .contenedor {
    background-color: #aefff2;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

.cuadro {
    width: 100px;
    height: 70px;
    max-width: 300px;
    background-color: black;
    aspect-ratio: 1/1;
    color: white;
    text-align: center;
    padding: 20px 10px;
  }